# Python Conditions (1)

In [1]:
length = int(input("Length : "))
breadth = int(input("breadth : "))
if length * breadth == length**2 :
    print("It can make a square")
else :
    print("Sorry! not possible")

Length : 4
breadth : 4
It can make a square

# 2

In [ ]:
first_value = int(input("First Value : "))
second_value = int(input("Second Value : "))
third_value = int(input("Third Value : "))

if first_value > second_value and first_value > third_value:
    print(first_value,", First Value is greatest among them.")
elif second_value > first_value and second_value > third_value:
    print(second_value,", Second Value is greatest among them.")
elif third_value > first_value and third_value > second_value:
    print(third_value,", Third Value is greatest among them.")
else:
    print("Error! Maybe some values are given same")

# 3

In [ ]:
cls_hld = int(input("Number of classes held : "))
cls_attnd = int(input("Number of classes attend : "))
attend_perntg = (cls_attnd/cls_hld) * 100
if cls_attnd > cls_hld:
    print("Error! Maybe correct value are not inserted")
elif attend_perntg < 75:
    print("You are not allowed to sit in the exam")
else:
    print("You are allowed to sit in the exam")

# 4

In [3]:
mark = int(input("Mark : "))

if mark < 25:
    print("Fail")
elif mark >= 25 and mark <= 44:
    print("E")
elif mark >= 45 and mark <= 49:
    print("D")
elif mark >= 50 and mark <= 59:
    print("C")
elif mark >= 60 and mark <= 79:
    print("B")
elif mark >= 80 and mark <= 89:
    print("A-")
elif mark >= 90 and mark <= 100:
    print("A+")

Mark : 89
A-

# 5

In [80]:
row = 5
for i in range(9, row, -1):
    for j in range(1, i - 1):
        print(j, end=" ")
    print(" ")

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# 6

In [83]:
for i in range(-100,-9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7

In [102]:
sum_of = 0

for i in range(10, 100+1):
    for h in range(2, i):
        if i%h == 0:
            break
    else:
        sum_of = sum_of + i
print(sum_of)

1043

# 8

In [103]:
fact = 1
user = int(input("Value : "))

for i in range(1, user + 1):
    fact = i*fact
print(fact)

Value : 6
720

# 9

In [110]:
number = input("Enter the number : ")
reverse_value = number [::-1]
print(reverse_value)

Enter the number : 123
321

# 10

In [145]:
for i in range(4):
    for j in range(i, 5):
        print('#', end = " ")
    print()

# # # # #
# # # #
# # #
# #

# 11

In [151]:
a = 0
b = 1
print(a)
print(b)
for i in range(2, 16):
    c = a+b
    a = b
    b = c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

# 12

In [161]:
li = [1,3,5, [2,3], True]
li[3][0] = 3
li[4] = False
print(li)

[1, 3, 5, [3, 3], False]

# 13

In [166]:
s1 = {1,4,6,8}
s2 = {True, 1,2,10}
common = []
for i in s1:
    for j in s2:
        if i == j:
            common.append(i)
print(common)

[1]

# 14

In [167]:
#don't understand the problem

# 15

In [185]:
dic = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
dic["region"] = dic.pop("country")
dic

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16

In [190]:
import pandas as pd
data_frm = {
    "Number" : [10,100,300]
}
df = pd.DataFrame(data_frm)
df

   Number
0      10
1     100
2     300

# 17

In [172]:
dic = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
dic["age"] = 28
print(dic)